PyPubSub==3.3.0
bottle==0.12.7
extras==0.0.3
fuzzywuzzy==0.3.2
-e git+https://github.com/gabrielfalcao/lettuce.git@d757885b50fe8fa9e06a734f168731afb4095e6c#egg=lettuce-dev
nose==1.3.4
pqaut==0.2.8
python-dateutil==2.2
python-mimeparse==0.1.4
python-subunit==0.0.21
pytz==2014.7
requests==2.4.1
six==1.8.0
sure==1.2.7
testtools==1.1.0
virtualenv==1.11.6
wsgiref==0.1.2
xmltodict==0.9.0
tzlocal
datetime
